<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.basic.usr.order.OrderMapper">

	<!-- 주문테이블 db 저장 -->
	<insert id="orderInsert" parameterType="OrderVO">

		<selectKey keyProperty="ord_code" resultType="Long" order="BEFORE">
			SELECT
				seq_ord_code.nextval
			FROM
				DUAL
		</selectKey>
		
		INSERT INTO
			order_table
		(
			ord_code,
			usr_id,
			ord_name,
			ord_addr_zipcode,
			ord_addr_basic,
			ord_addr_detail,
			ord_tel,
			ord_price,
			ord_desc
		)
		VALUES
		(
			#{ord_code},
			#{usr_id},
			#{ord_name},
			#{ord_addr_zipcode},
			#{ord_addr_basic},
			#{ord_addr_detail},
			#{ord_tel},
			#{ord_price},
			#{ord_desc}
		)
	</insert>

	<insert id="orderDetailInsert" parameterType="map">
		INSERT INTO
			order_detail_table 
		(
			ord_code,
			book_bno,
			dt_amount,
			dt_price
		)
		SELECT
			#{ord_code},
			b.book_bno,
			c.cart_amount,
			b.book_deposit
		FROM
			cart_table c
		INNER JOIN
			book_table b
		ON
			c.book_bno = b.book_bno
		WHERE
			c.usr_id = #{usr_id}

	</insert>
	
		<!-- 날짜검색 -->
	<!-- 날짜 7/19 선택시 -> 7/19 00:00:00 여기까지만 포함 -> +1 해줘야함 -->
	<sql id="period">

		<if
			test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')">
		
			<![CDATA[  		
		   		ord_regdate >= to_date(#{startDate}) AND ord_regdate < to_date(#{endDate}) + 1 AND	
		 	]]>

		</if>

	</sql>

	<!-- 공통사항 : 검색조건추가 -->
	<!-- 주문내역 목록 -->
	<select id="myOrderList" resultType="OrderVO" parameterType="Criteria">

		SELECT
			ord_code,
			usr_id,
			ord_name,
			ord_addr_zipcode,
			ord_addr_basic,
			ord_addr_detail,
			ord_tel,
			ord_price,
			ord_desc,
			ord_regdate,
			ord_admin_memo
		FROM
		(
			SELECT /*+ INDEX_DESC(order_table PK_ORD_CODE) */
				ROWNUM AS RN,
				ord_code,
				usr_id,
				ord_name,
				ord_addr_zipcode,
				ord_addr_basic,
				ord_addr_detail,
				ord_tel,
				ord_price,
				ord_desc,
				ord_regdate,
				ord_admin_memo
			FROM
				order_table
			WHERE
				<include refid="period"></include>
				 <![CDATA[  		
				   		ROWNUM <= (#{cri.pageNum} * #{cri.amount})   -- 페이지번호 * 페이지별 출력건수
				 ]]>
				 AND usr_id = #{usr_id}
		)
		WHERE
			RN > (#{cri.pageNum} - 1 ) * #{cri.amount}


	</select>

	<!-- 공통사항 : 검색조건추가 -->
	<!-- 주문내역 개수 -->
	<select id="myOrderListGetTotalCount" resultType="int">

		SELECT
			COUNT(*)
		FROM
			order_table
		WHERE
			<include refid="period"></include>
			ord_code > 0
		AND 
			usr_id = #{usr_id}			
	</select>

</mapper>