<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <div class="row">
    <div class="col-md-5">
      <img
        id="info_book_img"
        class="img-responsive"
        th:src="@{/admin/review/imagedisplay(dateFolderName=${ReviewVO.book_up_folder}, fileName=${ReviewVO.book_img})}"
      />
    </div>
    <div class="col-md-7">
      <form>
        <div class="form-group">
        <div class="row">
        <div class="col-md-6">
          <label for="exampleFormControlInput1" class="modalFontStyle1">도서명</label>
          <div class="modalFontStyle2" id="info_book_name" th:text="${ReviewVO.book_name}"></div>
          </div>
          
          <div class="col-md-6">
                <label for="exampleFormControlInput1" class="modalFontStyle1">아이디</label>
                <div class="modalFontStyle2" id="info_usr_id" th:text="${ReviewVO.usr_id}"></div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group">
            <div class="row">           
                 <div class="col-md-6">
                <label for="exampleFormControlInput1" class="modalFontStyle1">제목</label>
                <div class="modalFontStyle2" id="info_rev_title" th:text="${ReviewVO.rev_title}"></div>
              </div>
            </div>
          </div>
          <div class="form-group">            
          <div>내용</div>
                <label for="exampleFormControlInput1" class="modalFontStyle1"></label>
                <textarea class="form-control modalFontStyle2" id="info_rev_content" th:text="${ReviewVO.rev_content}" readonly></textarea>
              
          </div>
          <div class="form-group">
                  <label for="recipient-name" class="col-form-label">별점</label>
                          <p id="star_rev_rate" class="star-rating" th:data-rate="${ReviewVO.rev_rate}">
                            <a class="rev_rate" href="#">☆</a>
                            <a class="rev_rate" href="#">☆</a>
                            <a class="rev_rate" href="#">☆</a>
                            <a class="rev_rate" href="#">☆</a>
                            <a class="rev_rate" href="#">☆</a>
                          </p>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-light btn-custom" th:data-rev_code="${ReviewVO.rev_code}" id="btnReviewDelete">삭제</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
  $(document).ready(function () {
	  // 별점 표시
      const displayStar = (rev_rate) => {
        let star = "";
        switch (rev_rate) {
          case 1:
            star = "★☆☆☆☆";
            break;
          case 2:
            star = "★★☆☆☆";
            break;
          case 3:
            star = "★★★☆☆";
            break;
          case 4:
            star = "★★★★☆";
            break;
          case 5:
            star = "★★★★★";
            break;
          default:
            star = "☆☆☆☆☆"; // 나머지는 0점
        }
        return star;
      };

      // 별점표시 함수 호출
      // 클래스가 star-rating인 모든 요소에 대해 반복 작업을 수행
      $(".star-rating").each(function () {
        // 현재 요소 (this)의 data-rate 속성 값을 정수로 변환하여 rev_rate 변수에 저장합니다.
        const rev_rate = parseInt($(this).data("rate"));
        //  rev_rate에 해당하는 별점 문자열을 생성하고, stars 변수에 저장
        const stars = displayStar(rev_rate);
        // 현재 요소의 텍스트를 stars 문자열로 업데이트
        $(this).text(stars);
      });
      
	  
	  
  }) // ready event end
  
  
  </script>
</html>
