<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
  <th:block layout:fragment="title">
    <title>Mypage</title>
  </th:block>

  <th:block layout:fragment="css">
    <link href="/css/usr/sign.css" rel="stylesheet" />
  </th:block>

  <body class="text-center">
    <th:block layout:fragment="content">
      <!-- Begin page content -->
      <main role="main" class="flex-shrink-0">
        <div class="container">
          <h1 class="mt-3 mb-4 text-center">회원탈퇴</h1>
          <div class="row">
            <div class="col-4">
              <section th:replace="~{user/comm/mypage_menu}"></section>
            </div>
            <div class="col-8">
              <form class="form-horizontal" id="deleteForm" action="/user/delete" method="post">
                <div class="card-body">
                  <!--  -->

                  <div class="form-group row">
                    <label for="usr_password" class="col-sm-6 col-form-label">비밀번호</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="usr_password" name="usr_password" />
                    </div>
                  </div>

                  <!--  -->
                </div>

                <div class="card-footer">
                  <!-- <button type="submit" class="btn btn-info" id="btnJoin">Sign</button> -->
                  <button type="button" class="btn btn-info" id="btnDelete">회원 탈퇴</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </th:block>

    <th:block layout:fragment="script">
      <!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
      <script th:inline="javascript">
        let msg = [[${msg}]];

        if (msg == "successDelete") {
          alert("아이디가 삭제되었습니다.");
        } else if (msg == "failDelete") {
          alert("비밀번호가 일치하지 않습니다.");
        }

        $(document).ready(function () {
          // 비밀번호 변경 버튼 클릭
          $("#btnDelete").on("click", function () {
            // 현재 비밀번호 입력 확인
            if ($("#usr_password").val() == "") {
              alert("비밀번호를 입력하세요.");
              $("#usr_password").focus();
              return;
            }
            $("#deleteForm").submit();
          });
        }); // ready event end
      </script>
    </th:block>
  </body>
</html>
