<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
  <th:block layout:fragment="title">
    <title>Mypage</title>
  </th:block>

  <th:block layout:fragment="css">
    <link href="/css/user/sign.css" rel="stylesheet" />
    <style>
      /* 별점 기본선택지 */
      p#star_rev_rate a.rev_rate {
        font-size: 22px;
        text-decoration: none;
        color: lightgray;
      }

      /* 별점에 마우스 오버했을 경우 선택지 */
      p#star_rev_rate a.rev_rate.on {
        color: red;
      }
    </style>    
  </th:block>

  <body class="text-center">
    <th:block layout:fragment="content">
      <!-- Begin page content -->
      <main role="main" class="flex-shrink-0">
        <div class="container">
          <h1 class="mt-3 mb-4 text-center">나의 리뷰</h1>
          <div class="row">
            <div class="col-4">
              <section th:replace="~{user/comm/mypage_menu}"></section>
            </div>
            <div class="col-8">
              <div class="card-body">
                <!--  -->
                <div>
                  <form th:action="@{/user/myreviewlist}" th:method="get">
                    <select name="type" th:value="${pageMaker.cri.type}">
                      <option value="" th:text="검색종류" th:if="${pageMaker.cri.type == null}"></option>
                      <option value="T" th:text="제목" th:selected="${pageMaker.cri.type == 'T'}"></option>
                    </select>
                    <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}" />
                    <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}" />
                    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}" />
                    <button type="submit" class="btn btn-primary" th:text="검색"></button>
                  </form>
                </div>

                <table class="table table-bordered" id="myReviewList">
                  <tbody>
                    <tr>
                      <th>번호</th>
                      <th>도서명</th>
                      <th>제목</th>
                      <th>등록일</th>
                      <th>별점</th>
                      <th>상세보기</th>
                    </tr>
                    <tr th:each="myReviewList : ${myReviewList}">
                      <td th:text="${myReviewList.rev_code}"></td>
                      <td>
                        <a href="#">
                          <img
                            th:src="@{'/user/imagedisplay?dateFolderName=' + ${myReviewList.book_up_folder} + '&fileName=s_' + ${myReviewList.book_img}}"
                            style="width: 100px; height: 100px; object-fit: contain"
                          />
                        </a>
                        <div th:text="${myReviewList.book_name}"></div>
                      </td>
                      <td><span th:text="${myReviewList.rev_title}"></span></td>
                      <td th:text="${#dates.format(myReviewList.rev_date, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td>
                        <p id="star_rev_rate" class="star-rating" th:data-rate="${myReviewList.rev_rate}">
                          <a class="rev_rate" href="#">☆</a>
                          <a class="rev_rate" href="#">☆</a>
                          <a class="rev_rate" href="#">☆</a>
                          <a class="rev_rate" href="#">☆</a>
                          <a class="rev_rate" href="#">☆</a>
                        </p>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" name="btnReviewDetail" th:data-rev_code="${myReviewList.rev_code}">
                          상세보기
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="box-footer clearfix">
                  <div class="row">
                    <div class="col-md-4">
                      <!--1)페이지번호 클릭할 때 사용  [이전]  1	2	3	4	5 [다음]  -->
                      <!--2)목록에서 상품이미지 또는 상품명 클릭할 때 사용   -->
                      <form id="actionForm" action="" method="get">
                        <input type="hidden" name="pageNum" id="pageNum" th:value="${pageMaker.cri.pageNum}" />
                        <input type="hidden" name="amount" id="amount" th:value="${pageMaker.cri.amount}" />
                        <input type="hidden" name="type" id="type" th:value="${pageMaker.cri.type}" />
                        <input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />
                      </form>
                    </div>
                    <div class="col-md-6 text-center">
                      <nav aria-label="...">
                        <ul class="pagination">
                          <!-- 이전 표시여부 -->
                          <th:block th:if="${pageMaker.prev}">
                            <li class="page-item"><a th:href="@{${pageMaker.startPage - 1}}" class="page-link movepage">Previous</a></li>
                          </th:block>
                          <!-- 페이지번호 출력 -->
                          <!-- 1 2 3 4 5 6 7 8 9 10 [다음] -->
                          <!-- [이전] 11 12 13 14 15 16 17 18 19 20 -->
                          <th:block th:with="pageMaker = ${pageMaker}">
                            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                              <li th:classappend="${pageMaker.cri.pageNum == num ? 'active' : ''}" class="page-item" aria-current="page">
                                <a class="page-link movepage" th:href="@{${num}}" th:text="${num}"></a>
                              </li>
                            </th:block>
                          </th:block>
                          <!-- 다음 표시여부 -->
                          <th:block th:if="${pageMaker.next}">
                            <li class="page-item"><a th:href="@{${pageMaker.endPage + 1}}" class="page-link movepage">Next</a></li>
                          </th:block>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col text-center">
                    <button type="button" class="btn btn-secondary" id="btnAllDelete">전체삭제</button>
                  </div>
                </div>

                <!--  -->
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- 도서리뷰 Modal -->
      <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">도서리뷰</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">제목</label> <input type="text" class="form-control" id="rev_title" />
                  <input type="hidden" class="form-control" id="rev_code" />
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">내용</label>
                  <textarea class="form-control" id="rev_content"></textarea>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">별점</label>
                  <p id="star_rev_rate">
                    <a class="rev_rate" href="#">☆</a> <a class="rev_rate" href="#">☆</a> <a class="rev_rate" href="#">☆</a>
                    <a class="rev_rate" href="#">☆</a> <a class="rev_rate" href="#">☆</a>
                  </p>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" id="btnReviewModify" class="btn btn-primary">도서리뷰수정</button>
              <button type="button" id="btnReviewDelete" class="btn btn-primary">도서리뷰삭제</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->
    </th:block>

    <th:block layout:fragment="script">
      <script>
        let actionForm = $("#actionForm");
        $(document).ready(function () {
          // 페이지 번호 클릭시, (이전 1 2 3 4 5 다음) -> actionForm을 사용한다.
          $(".movepage").on("click", function (e) {
            e.preventDefault(); // a 태그의 href 기능을 제거

            // 주소변경
            actionForm.attr("action", "/user/myreviewlist");

            // 클릭한 페이지 번호 작업
            actionForm.find("input[name='pageNum']").val($(this).attr("href"));

            // 변경된 pageNum 값을 서버로 전송 (Criteria 클래스)
            actionForm.submit();
          });

          // 별점 표시
          const displayStar = (rev_rate) => {
            let star = "";
            switch (rev_rate) {
              case 1:
                star = "★☆☆☆☆";
                break;
              case 2:
                star = "★★☆☆☆";
                break;
              case 3:
                star = "★★★☆☆";
                break;
              case 4:
                star = "★★★★☆";
                break;
              case 5:
                star = "★★★★★";
                break;
              default:
                star = "☆☆☆☆☆"; // Default value when rating is not between 1 and 5
            }
            return star;
          };

          $(".star-rating").each(function () {
            const rev_rate = parseInt($(this).data("rate")); // Get the rating value from data attribute
            const stars = displayStar(rev_rate); // Get the star rating
            $(this).text(stars); // Update the text with the star rating
          });

          // 전역변수
          let rev_code;

          // 도서리뷰 modal
          $("table#myReviewList").on("click", "button[name='btnReviewDetail']", function () {
            $("#reviewModal").modal("show");

            // 모달내용 리셋
            $("#rev_title").val("");
            $("#rev_content").val("");
            $("p#star_rev_rate a.rev_rate").removeClass("on");
            rev_code = $(this).data("rev_code");

            //console.log(rev_code);

            // return;

            $.ajax({
              url: "/user/review/reviewmodifyform/" + rev_code,
              headers: {
                "Content-Type": "application/json",
                "X-HTTP-Method-Override": "GET",
              },
              type: "get",
              // data: 스프링으로 보내는 데이터 작업 -> 경로안에 이미 데이터가 있기 떄문에
              dataType: "json", // 스프링에서 넘어오는 데이터 타입
              success: function (result) {
                // console.log(result);

                // modal 내용에 리뷰 출력작업
                $("#rev_title").val(result.rev_title);
                $("#rev_content").val(result.rev_content);
                $("#rev_code").val(result.rev_code); // <input type="hidden">

                let rev_rate = result.rev_rate;

                $("p#star_rev_rate a.rev_rate").each(function (index, item) {
                  if (index < rev_rate) {
                    $(this).addClass("on");
                  }
                });
              },
            });
          });

          // 상세보기 - 별점 클릭
          $("p#star_rev_rate a.rev_rate").on("click", function (e) {
            e.preventDefault();
            $(this).parent().children().removeClass("on"); // on 선택자 제거
            $(this).addClass("on").prevAll("a").addClass("on"); // 현재 선택한 별과 이전별까지 on 선택자 추가
          });

          // 도서 리뷰 수정
          $("#btnReviewModify").on("click", function () {
            // rev_code : 전역변수
            let rev_title = $("#rev_title").val();
            let rev_content = $("#rev_content").val();
            let rev_rate = 0;

            // 별점 수정
            $("p#star_rev_rate a.rev_rate").each(function () {
              if ($(this).attr("class") == "rev_rate on") {
                rev_rate += 1;
              }
            });

            if (rev_title == "") {
              alert("제목을 입력하세요.");
              $("#rev_title").focus();
              return;
            }

            if (rev_content == "") {
              alert("내용을 입력하세요.");
              $("#rev_content").focus();
              return;
            }

            if (rev_rate == 0) {
              alert("별점을 선택하세요.");
              $("#rev_rate").focus();
              return;
            }

            // 자바스크립 object 문법 사용
            let reviewData = { rev_code: rev_code, rev_title: rev_title, rev_content: rev_content, rev_rate: rev_rate };

            // console.log(reviewData);

            // return;

            $.ajax({
              url: "/user/review/reviewmodify",
              headers: {
                "Content-Type": "application/json",
                "X-HTTP-Method-Override": "PUT",
              },
              type: "put",
              data: JSON.stringify(reviewData),
              success: function (result) {
                if (result == "success") {
                  alert("도서리뷰가 수정되었습니다.");
                  $("#reviewModal").modal("hide");
                  location.reload();
                }
              },
            });
          });

          // 리뷰 삭제 버튼
          $("#btnReviewDelete").on("click", function () {
            if (confirm("도서리뷰를 삭제하시겠습니까?")) {
              // rev_code : 전역변수

              $.ajax({
                url: "/user/review/reviewdelete/" + rev_code,
                headers: {
                  "Content-Type": "application/json",
                  "X-HTTP-Method-Override": "DELETE",
                },
                type: "delete",
                dataType: "text",
                success: function (result) {
                  if (result == "success") {
                    alert("도서리뷰가 삭제되었습니다.");
                    location.reload();
                  }
                },
              });
            }
          });
        }); // read event end
      </script>
    </th:block>
  </body>
</html>
