<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/layout/adminlayout}"
>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Main Header -->
      <!-- Left side column. contains the logo and sidebar -->

      <th:block layout:fragment="content">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Page Header
              <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
              <li>
                <a href="#"><i class="fa fa-dashboard"></i> Level</a>
              </li>
              <li class="active">Here</li>
            </ol>
          </section>

          <!-- Main content -->
          <section class="content">
            <!-- Your Page Content Here -->
            <div class="row">
              <div class="col">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">카테고리별매출현황</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- list start -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box">
                        <div class="box-header with-border">
                          <h3 class="box-title">1차카테고리 월별 매출현황</h3>
                        </div>

                        <div class="box-body">
                          <div>
                            <form action="#" method="get">
                              <select name="year" id="year">
                                <option
                                  th:each="i : ${#numbers.sequence(2020, #dates.year(#dates.createNow()))}"
                                  th:value="${i}"
                                  th:text="${i}"
                                  th:selected="${i} == ${year}"
                                ></option>
                              </select>
                              년
                              <select name="month" id="month">
                                <th:block th:each="i : ${#numbers.sequence(1, 12)}">
                                  <option th:value="${i}" th:text="${i}" th:selected="${i} == ${month}"></option>
                                </th:block> 
                              </select>
                              월
                              <button type="button" class="btn btn-primary" id="selectSearch">검색</button>
                            </form>
                          </div>

                          <!-- 차트가 출력되는 위치 -->
                          <div class="chartjs">
                            <canvas id="salesChart" width="300" height="100"></canvas>
                          </div>
                        </div>
                        <div class="box-footer clearfix">
                          <div class="row">
                            <div class="col-md-4"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      </th:block>

      <!-- Main Footer -->
      <!-- Control Sidebar -->
      <!-- REQUIRED JS SCRIPTS -->
      <th:block layout:fragment="script">
       <script>
          $(document).ready(function () {
            // 전역변수
            // (중요) 한페이지에서 하나의 차트 기능 구현을 할 때,
            let myChart = null;

         // 통계 및 차트 구현 함수
            const chartData = () => {
                const year = $("#year").val();
                const month = $("#month").val();
              $.ajax({
                url: "/admin/staticanalysis/monthlysalesstatusbytopcategory",
                type: "get",
                data: {
                  year: year,
                  month: month,
                },
                dataType: "json",
                success: (result) => {
                	
                	console.log("year: ",year);
                	console.log("month: ",month);
                  // 자바스크립트 배열
                  let labelNames = [];
                  let salesPriceData = [];

                  $.each(result, function () {
                    labelNames.push(this["PRIMARY_CD"]);
                    salesPriceData.push(this["SALES_P"]);
                  });

                  console.log("x축: ", labelNames);
                  console.log("y축: ", salesPriceData);

                  let myCt = document.getElementById("salesChart");

                  myChart = new Chart(myCt, {
                    type: "bar",
                    data: {
                      labels: labelNames, // ['BAGS', 'PANTS']
                      datasets: [
                        {
                          label: "Dataset",
                          data: salesPriceData,
                        },
                      ],
                    },
                  });
                },
              });
            }

            $("#selectSearch").on("click", () => {
              console.log("날짜검색");
              if (myChart !== null) myChart.destroy();
              chartData();
            });

            chartData();
            });
        </script> 
      </th:block>
    </div>
  </body>
</html>
