<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baselayout}">
  <th:block layout:fragment="css">
    <style>
      .container {
        max-width: 1200px;
        margin: auto; /* Center align the container */
      }

      .pricing-header {
        margin-bottom: 30px;
      }

      .row-divider {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px; /* Reduced bottom margin */
        padding-bottom: 20px; /* Add padding for space below the line */
      }

      .row.text-center > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .row.mb-3 > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .col-md-3 img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }

      .col-md-2 input[type="number"] {
        max-width: 80px;
      }

      .btn {
        min-width: 100px;
        margin: 5px;
      }

      .col-md-2 span,
      .col-md-1 span {
        display: block;
        width: 100%;
        text-align: center;
      }
    </style>
  </th:block>
  <body>
    <th:block layout:fragment="content">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-8">장바구니</h1>
      </div>

      <div class="container" id="cartInfo">
        <div class="row mb-3 text-center">
          <div class="col-md-1">
            <input type="checkbox" id="checkAll" />
          </div>
          <div class="col-md-3">제품</div>
          <div class="col-md-2">수량</div>
          <div class="col-md-1">적립</div>
          <div class="col-md-2">배송비</div>
          <div class="col-md-2">보증금</div>
          <div class="col-md-1">취소</div>
        </div>
        <div class="row-divider"></div>
        <div class="row mb-3 d-flex justify-content-center" th:if="${#lists.isEmpty(cartList)}">
          <h3 class="text-center">장바구니가 비어있습니다.</h3>
        </div>
        <div class="row mb-3 row-divider" th:if="${!#lists.isEmpty(cartList)}" th:each="cartList : ${cartList}">
          <div class="col-md-1">
            <input type="checkbox" name="check" th:value="${cartList.cart_code}" />
          </div>
          <div class="col-md-3" style="display: flex; flex-direction: column; align-items: center">
            <a th:href="@{/user/book/bookdetail(book_bno = ${cartList.book_bno})}">
              <img
                th:src="${'/user/cart/imagedisplay?dateFolderName=' + cartList.book_up_folder + '&fileName=s_' + cartList.book_img}"
                style="width: 100px; height: 100px; object-fit: contain"
              />
            </a>
            <a th:href="@{/user/book/bookdetail(book_bno = ${cartList.book_bno})}">
              <div th:text="${cartList.book_name}" style="margin-top: 10px; color: black"></div>
            </a>
          </div>
          <div class="col-md-2">
            <input class="w-50" type="number" th:value="${cartList.cart_amount}" name="cart_amount" />
            <button type="button" class="btn btn-secondary" th:data-cart_code="${cartList.cart_code}" name="btnCartAmountChange">수량변경</button>
          </div>
          <div class="col-md-1">0</div>
          <div class="col-md-2">[기본배송] 조건</div>
          <div class="col-md-2">
            <span th:text="${#numbers.formatInteger(cartList.book_deposit * cartList.cart_amount, 3, 'COMMA') + '원'}"></span>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-secondary" th:data-cart_code="${cartList.cart_code}" name="btnCartDelete">삭제</button>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col text-center">
            <button type="button" class="btn btn-secondary" id="btnCheckDelete">선택삭제</button>
            <button type="button" class="btn btn-secondary" id="btnCartEmpty">장바구니 비우기</button>
            <a type="button" th:href="@{/user/book/booklist?c_code=10&c_name=한국소설}" class="btn btn-secondary">계속 쇼핑하기</a>
            <button type="button" class="btn btn-secondary">주문하기</button>
          </div>
        </div>
      </div>
    </th:block>

    <th:block layout:fragment="script">
      <script>
        $(document).ready(function () {
          // 장바구니 삭제 name="btnCartDelete"
          $("button[name='btnCartDelete']").on("click", function () {
            if (confirm("삭제하시겠습니까?")) {
              location.href = "/user/cart/cartdelete?cart_code=" + $(this).data("cart_code");
            }
          });

          // 장바구니 수량 변경
          $("button[name='btnCartAmountChange']").on("click", function () {
            let cart_code = $(this).data("cart_code");
            let cart_amount = $(this).parent().find("input[name='cart_amount']").val();

            alert("수량이 변경되었습니다.");

            location.href = `/user/cart/cartamountchange?cart_code=${cart_code}&cart_amount=${cart_amount}`;
          });

          // 장바구니 비우기
          $("button#btnCartEmpty").on("click", function () {
            if (confirm("장바구니를 비우시겠습니까?")) {
              location.href = "/user/cart/cartempty";
            }
          });

          // 제목행 checkbox 체크하기
          let isCheck = true;
          $("#checkAll").on("click", function () {
            // this.checked : 제목의 check 상태
            $("input[name='check']").prop("checked", this.checked);
            isCheck = this.checked;
          });

          // 목록행 데이터행 체크하기
          $("input[name='check']").on("click", function () {
            // 전체 선택 체크박스를 우선 해제
            $("#checkAll").prop("checked", false);

            let allChecked = true;

            // 모든 개별 항목 체크박스의 체크 상태를 검사
            $("input[name='check']").each(function () {
              if (!$(this).is(":checked")) {
                allChecked = false;
              }
            });

            // 모든 개별 항목이 체크되었는지 여부에 따라 전체 선택 체크박스 상태를 설정
            if (allChecked) {
              $("#checkAll").prop("checked", true);
            }
          });

          // 체크상품 선택 삭제
          $("#btnCheckDelete").on("click", function () {
            // 체크 확인
            if ($("input[name='check']:checked").length == 0) {
              alert("삭제 할 상품을 체크하세요.");
              return;
            }

            let cart_code_arr = []; // 체크된 장바구니 코드가 저장될 배열

            // 체크된 상태를 접근
            $("input[name='check']:checked").each(function () {
              cart_code_arr.push($(this).val());
            });

            console.log("장바구니 코드", cart_code_arr);

            // return;
            if (confirm("선택된 도서를 삭제하시겠습니까?")) {
              $.ajax({
                url: "/user/cart/checkeddelete",
                type: "post",
                data: { cart_code_arr: cart_code_arr },
                dataType: "text",
                success: function (result) {
                  if (result == "success") {
                    alert("선택된 도서가 삭제되었습니다.");
                    location.reload(); // 화면 새로고침
                  }
                },
              });
            }
          });
        }); // read event end
      </script>
    </th:block>
  </body>
</html>
