<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.library.basic.admin.user.mailing.AdminUserMailingMapper">

	<resultMap type="MailingVO" id="mailingMap">

		<id property="idx" column="mailing_idx" />
		<result property="title" column="mailing_title" />
		<result property="content" column="mailing_content" />
		<result property="type" column="mailing_type" />
		<result property="sendCount" column="mailing_send_count" />
		<result property="regDate" column="mailing_regdate" />

	</resultMap>


	<!-- 메일 내용 DB 저장 -->
	<insert id="mailingSave" parameterType="MailingVO">

		<selectKey keyProperty="idx" resultType="Integer"
			order="BEFORE">
			SELECT
			seq_mailing_idx.nextval
			FROM
			DUAL

		</selectKey>

		INSERT INTO
		mailing_table(mailing_idx, mailing_title, mailing_content,
		mailing_type)
		VALUES
		(#{idx}, #{title}, #{content}, #{type})

	</insert>

	<!-- 회원테이블에서 전체회원 메일정보를 읽어오는 작업 -->
	<select id="getAllUserMailAddress" resultType="String">

		SELECT
		usr_email
		FROM
		usr_table
	</select>

	<!-- 메일 발송 횟수 업데이트 -->
	<update id="mailSendCountUpadte" parameterType="int">
		UPDATE
		mailing_table
		SET
		mailing_send_count = mailing_send_count + 1
		WHERE
		mailing_idx = #{idx}

	</update>

	<!-- 공통사항 : 검색조건추가 -->
	<!-- 메일 발송 목록 -->
	<select id="mailingList" resultMap="mailingMap"
		parameterType="map">

		SELECT
		mailing_idx,
		mailing_title,
		mailing_content,
		mailing_type,
		mailing_send_count,
		mailing_regdate
		FROM
		(
		SELECT /*+
		INDEX_DESC(mailing_table
		PK_MAILING_IDX) */
		ROWNUM AS
		RN,
		mailing_idx,
		mailing_title,
		mailing_content,
		mailing_type,
		mailing_send_count,
		mailing_regdate
		FROM
		mailing_table
		WHERE
		1 = 1

		<include refid="mailSearchTitle"></include>
		 
		 <![CDATA[  		
		   		AND ROWNUM <= (#{cri.pageNum} * #{cri.amount})   -- 페이지번호 * 페이지별 출력건수
		 ]]>
		)
		WHERE
		RN > (#{cri.pageNum} - 1 ) * #{cri.amount}



	</select>
	
	<!-- 공통사항 : 검색조건추가 -->
	<!-- 메일 발송 목록 개수 -->
	<select id="mailingListgetTotalCount" resultType="int">

		SELECT
		COUNT(*)
		FROM
		mailing_table
		WHERE
		1 = 1

		<include refid="mailSearchTitle"></include>

		AND
		mailing_idx > 0
	</select>
	
	<!-- 검색조건 -->
	<sql id="mailSearchTitle">

		<if test="title != null and !title.equals('')">

			AND mailing_title like '%' || #{title} || '%'

		</if>

	</sql>



</mapper>