<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.basic.usr.search.SearchMapper">


	<!-- 자료검색 페이지 -->
	<select id="searchPage" resultType="BookVO"
		parameterType="Criteria">

		SELECT
		book_bno,
		c_code,
		book_name,
		book_author,
		book_publishing_date,
		book_deposit,
		book_deposit_discount,
		book_publisher,
		book_content,
		book_up_folder,
		book_img,
		book_amount,
		book_loan,
		book_date,
		book_updatedate
		FROM
		(
		SELECT /*+
		INDEX_DESC(product_tbl PK_BOOK_BNO) */
		ROWNUM AS
		RN,
		book_bno,
		c_code,
		book_name,
		book_author,
		book_publishing_date,
		book_deposit,
		book_deposit_discount,
		book_publisher,
		book_content,
		book_up_folder,
		book_img,
		book_amount,
		book_loan,
		book_date,
		book_updatedate
		FROM
		book_table
		WHERE
		<include refid="criteria"></include>						 
		 <![CDATA[  		
		   		ROWNUM <= (#{pageNum} * #{amount})   -- 페이지번호 * 페이지별 출력건수
		 ]]>
		ORDER BY book_bno DESC
		)
		WHERE
		RN > (#{pageNum} - 1 ) * #{amount}


	</select>

	<!-- 검색종류가 (도셔명 또는 저자 또는 출판사) 선택. "N" "A" "P" -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							book_name like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'A'.toString()">
							book_author like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'P'.toString()">
							book_publisher like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 도서 개수 -->
	<select id="getTotalCount" resultType="int">
		SELECT
		COUNT(*)
		FROM
		book_table

		WHERE
		<include refid="criteria"></include>
		book_bno > 0

	</select>




</mapper>